*{
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: antiquewhite;}
  /* background-image: url("./Animation\ -\ 1728289778964.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode:soft-light; */
/* }
body{
  background-image: url("./Animation\ -\ 1728289778964.gif");
  background-repeat: no-repeat;
  background-size:contain;
  background-blend-mode:soft-light; */
/* } */

#submit{
  background-color: rgba(255, 0, 25, 0.627);
}

#DOB{
  background-color: aliceblue;
}

#email{
  background-color: aliceblue;
}

#password{
  background-color: aliceblue;
}

#bg1{
  background-image: url("./Animation\ -\ 1728289778964.gif");
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode:soft-light;
  border: 1px solid black;
  border-style: dashed;
}